    <input name="cmd" value="8" style="width:50px;height:60px;font-size:40px" >
    <input name="cmd" value="0" type="submit" style="width:100px;height:60px;font-size:40px" >
    <input name="NewWord" placeholder="NewWord" value="" style="width:200px;height:60px;font-size:40px" >
    <input id='default' name="cmd" value="8" type="submit" style="width:100px;height:60px;font-size:40px;background-color:#00FF00;" >
    <input name="cmd" value="2" type="submit" style="width:300px;height:160px;font-size:40px;color:#FF0000;" >
    <hr>
