<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title> 视频分享 </title>
</head>
<body>
<font size="6">
视频分享的网页<hr/>
</font>

<font size="5">

{% for file_name in file_list %}
    <!-- <video controls="true" preload="yes" loop playsinline width="320" height="240" src="https://github.com/JiangEndian/grace_20190205/blob/master/apps/statics/files/{{ file_name }}?raw=true" type="video/mp4"></video><br/> -->
    <!-- This is a video which links to github. <br/> -->
    <!-- <video controls="true" preload="yes" loop playsinline width="320" height="240" src="/static/files/{{ file_name }}" type="video/mp4"></video><br/> 
    This is a video which links to others. <br/>
    -->
    <a href='/static/videosView/{{ file_name }}' > {{ file_name }} <a>
    <hr/>
{% endfor %}

</font>

</body>
</html>
